.navbar {
    background-color: #823EE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 15px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #000000;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .navbar-link:hover {
    background-color: #626164;
  }
  